.root {}

.title {
    line-height: 1.43;
}

.like-button {
    composes: btn-primary from global;
    float: right;
}

.banner {
    float: right;
    margin-left: 1em;
}

@media(max-width: 480px) {
    .banner {
        float: none;
        display: block;
        margin: 1em auto 1em;
    }
}

.description {
    text-align: justify;
}

.category-list {}

@media(max-width: 480px) {
    .category-list {
        text-align: center;
    }
}

.category-item {
    composes: label label-primary from global;
    display: inline-block;
    margin-right: .6em;
}

.details-list {
    width: 60%;
    margin: .6em;
}

@media(max-width: 480px) {
    .details-list {
        width: 100%
    }
}

.details-list-item {}

.details-list-item-label {}

.details-list-item-text {}
