.label, .input {
    margin-right: 1em;
}
.group {
    display: inline-block;
}
.form {
    composes: form-inline from global;
    text-align: center;
}
.search-button {
    composes: btn-primary from global;
}
